router ospf {{ devices[0]["config_context"]["ospf"]["id"] }}
{% for interface in devices[0]["interfaces"] %}
{% if 'Loop' in interface["name"] %}
{% for addr in interface.ip_addresses %}
{% if addr.address is defined %}
{% set rid = addr.address | ipaddr('address') %}
 router-id {{ rid }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% for tags in devices[0]["tags"] %}
{% if tags["name"] is defined %}
{% if 'mpls' in tags["slug"] %}
 mpls traffic-eng area {{ tags["slug"] | replace("ospf_area_","") }}
 mpls traffic-eng router-id Loopback0
{% endif %}
{% endif %}
{% endfor %}
 passive-interface Loopback0