#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
{#- ---------------------------------------------------------------------------------- #}
{# configuration.bgp                                                                   #}
{# ---------------------------------------------------------------------------------- -#}
{% if configuration.bgp is defined %}
router bgp {{ configuration.bgp.ibgp.l_asn }}
  bgp router-id {{ configuration.ospf.router_id }}
  {% for ibgp_peers in configuration.bgp.ibgp.neighbors %}
  neighbor {{ ibgp_peers }} remote-as {{ configuration.bgp.ibgp.l_asn }}
  neighbor {{ ibgp_peers }} update-source Loopback0
  {% endfor%}
  {% if configuration.bgp.ebgp is defined %}
    {% for ebgp_peers,ebgp_peers_attr in configuration.bgp.ebgp.neighbors.items() %}
  neighbors {{ ebgp_peers }} remote-as {{ ebgp_peers_attr.r_asn }}
    {% endfor %}
  {% endif %}
  address-family ipv4
  {% for ibgp_peers in configuration.bgp.ibgp.neighbors %}
   neighbor {{ ibgp_peers }} activate
   neighbor {{ ibgp_peers }} next-hop-self
  {% endfor %}
  {% if configuration.bgp.ebgp.neighbors is defined %}
    {% for ebgp_peers,ebgp_peers_attr in configuration.bgp.ebgp.neighbors.items() %}
   neighbor {{ ebgp_peers }} activate
    {% endfor%}
  {% endif %}
  {% if configuration.bgp.address_family_ipv4.advertised_networks is defined %}
    {% for adv_nets,adv_nets_attr in configuration.bgp.address_family_ipv4.advertised_networks.items() %}
   network {{ adv_nets }} mask {{ adv_nets_attr.net_mask }} 
    {% endfor %}
    {% if configuration.bgp.address_family_ipv4.agg_network is defined %}
   aggregate-address {{ configuration.bgp.address_family_ipv4.agg_network }} {{ configuration.bgp.address_family_ipv4.agg_mask }} summary-only
    {% endif %}  
  {% endif %}
  exit-address-family
{% endif %}