#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% set device = nb_devices[0]["data"]["devices"][0] %}
{% set site = nb_sites[0]['data']['sites'] %}
{% set spines = nb_spines[0]['data']['devices'] %}
{% set l3leafs = nb_l3leafs[0]['data']['devices'] %}
{% set l2leafs = nb_l2leafs[0]['data']['devices'] %}
{% set vrfs = nb_vrfs[0]['data']['vrfs'] %}
{% if device['device_role']['slug'] == 'spine' %}
{%   include 'node_template/spine.j2' %}
{% elif device['device_role']['slug'] == 'l3leaf' %}
{%   include 'node_template/l3leaf.j2' %}
{% endif %}