#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{% set devices = nb_devices.data.devices %}
{% if devices[0]["device_role"]["name"] == "pod_access_switch" %}
{% include "./ios/platform_templates/vios_switch.j2"%}
{% elif devices[0]["device_role"]["name"] == "pod_core_switch" %}
{% include "./ios/platform_templates/vios_switch.j2"%}
{% elif devices[0]["device_role"]["name"] == "pod_router" %}
{% include "./ios/platform_templates/vios_router.j2"%}
{% endif %}