#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"
{#- ---------------------------------------------------------------------------------- #}
{# configuration.dhcp_pool                                                             #}
{# ---------------------------------------------------------------------------------- -#}
{% if configuration.dhcp_pool is defined %}
{% for each in configuration.dhcp_pool %}
ip dhcp excluded-address {{ each.excluded_address }}
{% endfor %}
{% for each in configuration.dhcp_pool %}
ip dhcp pool {{ each.name }}
    network {{ each.network }}
    default-router {{ each.default_router }}
    lease {{ each.lease }}
{% endfor %}
{% endif %}