---
#############################################################
# Create vlans for each site in Nautobot
#############################################################
- name: Create vlan within Nautobot with only required information
  networktocode.nautobot.vlan:
    url: "{{ nb_url }}"
    token: "{{ nb_token }}"
    validate_certs: no
    name: "{{ item.1.name }}"
    vid: "{{ item.1.vid }}"
    site: "{{ item.0.slug }}"
    status: "{{ item.1.status }}"
    state: present
  loop: "{{ sites | subelements('vlans', 'skip_missing=True') }}"