#jinja2: lstrip_blocks: "True (or False)", trim_blocks: "True (or False)"

{% if configuration.interfaces.l3_interfaces is defined %}
  {% for l3_interface in configuration.interfaces.l3_interfaces %}
    {% if 'Loopback0' in l3_interface.name %}
interface {{ l3_interface.name }}
      {% if l3_interface.description is defined %}
 description {{ l3_interface.description}}
      {% endif %}
 ip address {{ l3_interface.ipv4 }} {{ l3_interface.ipv4_mask }}
      {% if l3_interface.ospf is defined %}
 ip ospf network {{ l3_interface.ospf.network }}
 ip ospf {{ configuration.ospf.instance }} area {{ l3_interface.ospf.area }}
      {% endif %}
 no shut     
    {% elif 'GigabitEthernet' in l3_interface.name and l3_interface.ospf is defined %}
interface {{ l3_interface.name }}
 no switchport
       {% if l3_interface.description is defined %}
 description {{ l3_interface.description }}
       {% endif %}
 ip address {{ l3_interface.ipv4 }} {{ l3_interface.ipv4_mask }}
 ip ospf network {{ l3_interface.ospf.network }}
 ip ospf {{ configuration.ospf.instance }} area {{ l3_interface.ospf.area }}
 no shut   
    {% elif 'vlan' in l3_interface.name and l3_interface.vrrp_group is defined %}
interface {{ l3_interface.name }}
      {% if l3_interface.description is defined %}
 description {{ l3_interface.description}}
      {% endif %}
 ip address {{ l3_interface.ipv4 }} {{ l3_interface.ipv4_mask }}
 no shut
      {% if l3_interface.dhcp_helper is defined %}
 ip helper-address {{ l3_interface.dhcp_helper }}
      {% endif %}
 vrrp {{ l3_interface.vrrp_group }} ip {{ l3_interface.vrrp_primary_ip }}
 vrrp {{ l3_interface.vrrp_group }} description {{ l3_interface.vrrp_description }}
 vrrp {{ l3_interface.vrrp_group }} priority {{ l3_interface.vrrp_priority }}
 vrrp {{ l3_interface.vrrp_group }} timers learn
    {% else %}
interface {{ l3_interface.name }}
      {% if l3_interface.description is defined %}
 description {{ l3_interface.description}}
      {% endif %}
 ip address {{ l3_interface.ipv4 }} {{ l3_interface.ipv4_mask }}
 no shut   
    {% endif %}
  {% endfor %}
{% endif %}